
<div id="space"></div>
<div class="toolbar" role="banner" style="background-color: #251901;">
  <span id="menu-hamburguer" onclick="openNav()" title="Menu">&#9776;</span>
  <div class="spacer"></div>
  <a style="text-decoration: none;" aria-label="Home" rel="noopener" href="/home" title="Home">
  <div style="color:#FFC40B;font-family:'Berkshire Swash';margin-right: 89.85vw; display: flex;">
      <h1>Ta de</h1> <img src="https://www.lojabauducco.com.br/arquivos/logo-v2.png" alt=""
      style="width: 78.75px; height: 48px; margin-left: 1.5vw; margin-top: 12px;">
  </div>
  </a>
 
</div>

<div class="tela_principal">
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>